.title {
    padding: 0 2rem;
}


.title h1{
    font-family: var(--FONT_TITLE);
    color:var(--secondary);
    font-size: 3em;
    margin-bottom: 0;
    text-shadow: 0 5px var(--primary-dark);
}

.title h1 span{
    font-variant: small-caps;
}

.title p{
    color:var(--secondary);
    font-family: var(--FONT_TITLE);
    font-size: 1em;
    margin-top: .5rem;
    margin-left: .25rem;
}

.image img{
    width: 150px;
    height:150px;
    object-fit: cover;
    border-radius: 50%;
    border:solid 10px var(--primary-dark);
    display: block;
    margin:auto;
    margin-bottom:1.5em;
    transform:translateY(-50%);
}