.projetIframe--none{
    display:none;
}

.projetIframe--display{
    background-color: rgba(0,0,0,.75);
    padding:1rem;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    height: 100%;
    width: 100%;
    z-index: 5;
}

.projetIframe--display iframe{
    border:none;
    /* box-shadow: 0 0 20px 10px #333; */
    height: 83%; width: 100%;
}

.projetIframe-cmd{
    background-color: var(--primary-dark);
    /* box-shadow: 0 0 20px 10px #000; */
    color:var(--secondary);
    display:flex;
    justify-content: center;
    align-items: center;
    padding: 1rem;
    height: 17%;
}

.projetIframe-closeButton{
    border: none;
    background-color: transparent;
    color:var(--secondary);
    font-size: 1.5rem;
    position: absolute;
    bottom:1rem;
    right: 1rem;
}

.projetIframe-info{
    background-color: rgba(0,0,0,.85);
    color:var(--secondary);
    padding:5rem;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    height: 100%;
    width: 100%;
    z-index: 10;
}

.projetIframe-info--displayNone{
    display: none;
}

.projetIframe-btnCloseInfo{
    border: none;
    background-color: transparent;
    color:var(--secondary);
    font-size: 1.5rem;
    position: absolute;
    bottom:5rem;
    right: 5rem;
}
.projetIframe-info div{
    display:flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 3rem;
    line-height: 1.5rem;
    width: 100%;
}
.projetIframe-info span{
    background-color: var(--secondary);
    box-shadow: 10px 10px 30px 10px rgba(0,0,0,1);
    color:var(--primary-dark);
    font-weight: bold;
    padding: .25rem .5rem;
    margin:.25rem;
}