div.MuiPaper-root{
    background-color: #fff062;
    color: #3e0159;
    height: 288px;
    min-width: 288px;
    max-width: 320px;
}

.tile{
    display: grid;
    grid-template-areas:    'title'
                            'content';
}

.tile h3{
    font-size: 1.8em;
    grid-area:title;
    margin:.5em;
    text-align: center;
}

.tile div{
    grid-area:content;
}

.cubeWrapper{
    perspective: 1300px;
    perspective-origin: center;
}

.cubeContainer{
    transform-style: preserve-3d;
	transform-origin:center;
	position:relative;
    transition: all .8s ease-out;
}

.cubeWrapper .cubeContainer:hover{
    transform-origin:left;
    transform:rotatey(-90deg) translatex(-100%);
}

.cubeContainer .hiddenFace{
    background-color: var(--neutral);
    color: var(--secondary);
	position:absolute;
	left:calc(100% - .5em);
	width:calc(100% - 1em);
	transform-origin:left;
	transform:  translateX(8px) translateY(-100%) rotatey(90deg);
}

