.cubeButton{
    transform-style: preserve-3d;
    transform-origin:top;
    transition: all .3s ease-out;
}

.cubeButton:hover{
    transform: translatez(-1.5rem) rotatex(90deg);
    cursor: pointer;
}
    
.cubeButton div{
    color:var(--primary);
    font-family: var(--FONT_BUTTON);
    font-size : 2rem;
    line-height:1.5rem;
    margin:0;
    padding:0;
    text-align:right;
    text-transform: uppercase;
}

.cubeButton .cubeButton--bottom{
    color:var(--neutral);
    /* text-decoration: underline; */
    transform-origin:top;
    transform:rotatex(-90deg) translateY(.25rem);
}