.gallery-title{
    margin-top: 4rem;
    margin-bottom: 2rem;
    text-align: right;
}

.carousel .slide img{
    width:50%;
}

.slide{
    display: flex;
    align-items: center;
    justify-content: center;
}

.thumbs{
    display: flex;
    align-items: center;
    justify-content: center;
}
