.blockContent{
    background-color: var(--primary-dark);
    color:var(--secondary-ligth);
    height: 100vh;
    height: calc(var(--vh, 1vh) * 100); 
    padding:0 2rem;
    width: 100%;
}

.blockContent h2{
    font-family: var(--FONT_TITLE);
    text-transform: uppercase;
}

.profil{
    background-image: url('../img/demi-horizontal-photo-profil.png');
    background-position: bottom;
    background-size: contain;
    background-repeat: no-repeat;
}

.siteWeb{
    color:var(--primary-dark);
    background-color: var(--secondary);
}