.blockContent{
    height: 100vh;
    height: calc(var(--vh, 1vh) * 100); 
    padding:0 2rem;
    width: 100%;
}

.blockContent--light{
    background-color: var(--secondary);
    color:var(--primary-dark);
}

.blockContent--dark{
    background-color: var(--primary-dark);
    color:var(--secondary);
}

.blockContent h2{
    font-family: var(--FONT_TITLE);
    text-transform: uppercase;
    margin-top: 4rem;
    font-size: 2rem
}

button.btn, a.btn{
    background-color: transparent;
    font-family: var(--FONT_TEXT);
    font-weight: bold;
    font-size: 1rem;
    height: 3.5rem;
    letter-spacing: 3px;
    margin-right:.5rem;
    margin-bottom: .5rem;
    min-width: 7.5rem;
    padding:1rem;
    cursor: pointer;
    text-decoration: none;
    text-transform: uppercase; 
}

.blockContent--light .btn{
    border:solid 2px var(--primary-dark);
    color: var(--primary-dark);
}
.blockContent--light .btn:hover{
    background-color: var(--primary-dark);
    color:var(--secondary);
    transition: all .4s ease-in-out;
}

.blockContent--dark .btn{
    border:solid 2px var(--secondary); 
    color: var(--secondary);   
}
.blockContent--dark .btn:hover{
    background-color: var(--secondary);
    color:var(--primary-dark);
    transition: all .4s ease-in-out;
}


.btn--fullWidth{
    text-align:left;
    width:100%;
}

.btn--inactived {
    pointer-events: none;
    opacity: .1;
}

.profil{
    /* background-image: url('../img/demi-horizontal-photo-profil.jpg');
    background-position: bottom;*/
    background-image: url('../img/photo-demi-profil.jpg');
    background-position: right;
    background-size: contain;
    background-repeat: no-repeat; 
}

.profil .content{
    height:50%;
    width:100%;
    padding-top:2rem;
}
.profil .content img{
    height: 33%;
    margin-top: 1rem;
}

.profil img:nth-child(2){
    padding-left: 25vw;
}

.parcours{
    min-height: 100vh;
    height: auto;
}

.parcours img{
    max-width: 100%;
    padding-bottom: 3rem;
}

.projetIframe-info .btn{
    display: block;
    margin: 2rem auto;
}


button.btn-close{
    border: none;
    border-radius: 50%;
    background-color: hsla(334, 8%, 18%, 0.863);
    color:var(--secondary);
    cursor:pointer;
    display:flex;
    align-items: center;
    justify-content: center;
    font-size: 1.5rem;
    outline:none;
    position: absolute;
    top:1.5rem;
    right: 1.5rem;
    padding: 0 .35rem;
    transform-origin: center;
    transition:.5s;
    height: 3rem;
    min-width:3rem;
    width: 3rem;
    z-index:5;
}

.btn-close:hover{
    border: none;
    color: var(--neutral);
    transform: rotate(.5turn);
}

.lineBr{
    display: none;
}

.fade-in {
	opacity: 1;
	animation-name: fadeInOpacity;
	animation-iteration-count: 1;
	animation-timing-function: ease-in;
	animation-duration: .5s;
}

@keyframes fadeInOpacity {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}

.fade-out {
	opacity: 0;
	animation-name: fadeOutOpacity;
	animation-iteration-count: 1;
	animation-timing-function: ease-in;
	animation-duration: .5s;
}

@keyframes fadeOutOpacity {
	0% {
		opacity: 1;
	}
	100% {
        opacity: 0;
        display:none;
	}
}

@media screen and (min-width:1024px){
    .blockContent{
        /* j'ai du le répéter dans le media query de app.css !!!!! */
        padding: 0; 
    }
    
    .blockContent h2{
        display:flex;
        align-items: center;

        font-size: clamp(1.8rem, 3.37vw, 4rem);
        height: 100%;
        margin: 0;
        padding-left: 4rem;
        line-height: 1.2;
    }

    .blockContent div{
        padding: 0 2rem ;
    }
    
    .blockContent--light h2{
        background-color: var(--primary-dark);
        color:var(--secondary);
    }

    .blockContent--dark h2{
        background-color: var(--secondary);
        color:var(--primary-dark);
    }

    .profil{
        background-image: url('../img/photo-demi-profil.jpg');
        background-position: right;
        background-size: 40vw;
        background-repeat: no-repeat;
    }

    .parcours div{
        padding-top:3rem;
    }

    .blockContent .projetIframe-info{
        padding: 10rem;
    }

    .lineBr{
        display: inline;
    }
}