.blockContent{
    background-color: var(--primary-dark);
    color:var(--secondary-ligth);
    height: 100vh;
    height: calc(var(--vh, 1vh) * 100); 
    padding:0 2rem;
    width: 100%;
}

.blockContent h2{
    font-family: var(--FONT_TITLE);
    text-transform: uppercase;
    margin-top: 4rem;
}

.profil{
    background-image: url('../img/demi-horizontal-photo-profil.png');
    background-position: bottom;
    background-size: contain;
    background-repeat: no-repeat;
}

.profil .content{
    height:50%;
    width:100%;
    padding-top:2rem;
}
.profil .content img{
    height: 33%;
    margin-top: 1rem;
}

.profil img:nth-child(2){
    padding-left: 25vw;
}

.siteWeb{
    color:var(--primary-dark);
    background-color: var(--secondary);
}