

.profilContent div img{
    width: 150px;
    height:150px;
    object-fit: cover;
    border-radius: 50%;
    border:solid 10px #3e0159;
    display: block;
    margin:auto;
    margin-bottom:1.5em;
}

