@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400&family=Rubik:wght@900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@400&display=swap');
/**
* color : https://coolors.co/ac5faa-cfc165-fbbf2d-a206b8-b71955
* couleur pour profil
* https://coolors.co/b71955-218380-fbb13c-73d2de-4e598c
*/

@font-face{
    font-family:'moon_get' ;
    src:url(./font/moon_get-Heavy.otf);
}
@font-face{
    font-family:'archivoBlack';
    src:url(./font/ArchivoBlack-Regular.ttf);
}


:root{
    --FONT_TITLE : 'moon_get', sans-serif;
    --FONT_TEXT :'Montserrat', serif;
    --FONT_BUTTON : 'moon_get', sans-serif;
    
    --primary-dark: black;
    --secondary-light : white;
    --secondary: white;
    --neutral: #b81956;
    --color4: hsla(356, 62%, 73%, 1);
    --color5: hsla(251, 72%, 35%, 1);
}

*{
    box-sizing: border-box;
}

body{
    font-family: var(--FONT_TEXT);
    background-color: black;
    height: 100vh;
    height: calc(var(--vh, 1vh) * 100);
}

h1,h2{
    font-family:var(--FONT_TITLE);
    font-weight: 400;
}

h2,h3{
    letter-spacing: .1rem;
}

.header_wrapper{
    height: 100%;
}

.menu-wrapper{
    background-color: var(--secondary);
    color: var(--primary);
    height: 100%;
}


/* CLASSE */
.displayNone{
    display: none;
}

.overlay{
    background-color: rgba(0,0,0,.85);
    color:var(--secondary);
    padding:5rem;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    height: 100%;
    width: 100%;
    z-index: 10;
}

/* LAYOUT */
.main_wrapper{
    display: grid;
    grid-template-areas: 
        'header'
        'mainContent'
        'footer';
}
.header-wrapper{
    display : grid;
    grid-area: header;
    grid-template-rows: repeat(2,1fr);
    grid-template-areas: 
        'title'
        'menu';
    height: calc(var(--vh, 1vh) * 100);
}

.title{
    grid-area: title;
    align-self: center;
}

.menu-wrapper{
    grid-area: menu;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0 2rem;
}

.mainContent{
    display:grid;
    grid-area: mainContent;
    grid-template-areas: 
        'profil'
        'parcours'
        'siteWeb'
        'illustrations';

}

.blockContent{
    display: flex;
    flex-direction: column;
    justify-content: start;
    padding: 0 2rem;
    position: relative;
}


.profil, .profil .btnArrow{
    grid-area : profil;
}

.siteWeb, .siteWeb .btnArrow{
    grid-area : siteWeb;
}

.parcours, .parcours .btnArrow{
    grid-area : parcours;
}

.illustrations, .illustrations .btnArrow{
    grid-area : illustrations;
}

/*
    POSITIONNENEMT DES FLÈCHES DE NAVIGATION
*/

.blockContent a.btnArrow{
    position: absolute;
    right:.5rem;
}

.blockContent a.btnArrow--up{
    top: 1.5rem;
}
.blockContent a.btnArrow--down{
    bottom:.5rem;
}

@media screen and (min-width:1024px){
    .header-wrapper{
        grid-template-rows: 1fr;
        grid-template-columns: repeat(2,1fr);
        grid-template-areas: 
            'title menu';
        /* height: calc(var(--vh, 1vh) * 100); */
    }

    .blockContent{
        display: grid;
        grid-template-columns: repeat(2,1fr);
        align-items: center;
        padding:0;
        min-height: 100vh;
    }

    .profil .btnArrow, 
    .parcours .btnArrow,
    .siteWeb .btnArrow,
    .illustrations .btnArrow{
        grid-area: auto; /*ajouter sinon pas de possibilité de positionner le .btnArrow--top*/
    }

    .blockContent a.btnArrow--up{
        align-self: start;
        top: 1rem;
    }
}




